samples/ProductManager/ProductManager.WebServiceClient/ProductManager.WebServiceClient/Service References/ProductManagerDataService/ProductManagerDataService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ProductManager.Common.Domain.Model.ProductManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductManager.Common.Domain.Model.ProductManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5000/ProductManagerDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:5000/ProductManagerDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" base="q1:EntityOfProductob0iX2ma">
        <xs:sequence>
          <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DiscontinuedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DynamicContent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
          <xs:element minOccurs="0" name="ProductCategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SellEndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SellStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StandardCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ProductCategory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" base="q2:EntityOfProductCategoryob0iX2ma">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChildCategories" nillable="true" type="tns:ArrayOfProductCategory" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentCategory" nillable="true" type="tns:ProductCategory" />
          <xs:element minOccurs="0" name="ParentProductCategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
  <xs:complexType name="ArrayOfProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductCategory" nillable="true" type="tns:ArrayOfProductCategory" />
  <xs:complexType name="ProductManagerChangeSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductCategories" nillable="true" type="tns:ArrayOfProductCategory" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ProductManagerChangeSet" nillable="true" type="tns:ProductManagerChangeSet" />
  <xs:complexType name="ProductManagerResultSet">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ProductManagerChangeSet">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductCategoryConcurrencyConflicts" nillable="true" type="tns:ArrayOfProductCategory" />
          <xs:element minOccurs="0" name="ProductConcurrencyConflicts" nillable="true" type="tns:ArrayOfProduct" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductManagerResultSet" nillable="true" type="tns:ProductManagerResultSet" />
</xs:schema>