samples/ProductManager/ProductManager.WebServiceClient/ProductManager.WebServiceClient/Service References/ProductManagerDataService/ProductManagerDataService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5000/ProductManagerDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" />
  <xs:import schemaLocation="http://localhost:5000/ProductManagerDataService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ProductManager.Common.Domain.Model.ProductManager" />
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" minOccurs="0" name="clientInfo" nillable="true" type="q1:ClientInfo" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" minOccurs="0" name="query" nillable="true" type="q2:Query" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" minOccurs="0" name="GetProductsResult" nillable="true" type="q3:QueryResultOfProductuBe26X0k" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" minOccurs="0" name="clientInfo" nillable="true" type="q4:ClientInfo" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" minOccurs="0" name="query" nillable="true" type="q5:Query" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" minOccurs="0" name="GetProductCategoriesResult" nillable="true" type="q6:QueryResultOfProductCategoryuBe26X0k" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NTier.Common.Domain.Model" minOccurs="0" name="clientInfo" nillable="true" type="q7:ClientInfo" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProductManager.Common.Domain.Model.ProductManager" minOccurs="0" name="changeSet" nillable="true" type="q8:ProductManagerChangeSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ProductManager.Common.Domain.Model.ProductManager" minOccurs="0" name="SubmitChangesResult" nillable="true" type="q9:ProductManagerResultSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>